.DS_Store
/data/*
!/data/.gitkeep
/exercises/rhein-kreis-neuss-flughafen-weltweit.csv
/exercises/stadt-neuss-herbstpflanzung-2023.csv
/project/cyberFlood_1104.csv
/project/HPI_dictionary.xls
/project/hpi_master.csv
/project/HPI_specifications.xls
/project/prototyping.ipynb
/project/USFD_v1.1.csv
/project/data-report.docx
/project/attribution_table.xlsx
/exercises/mowesta-dataset-20221107/data.csv
/exercises/mowesta-dataset-20221107/README.pdf
/exercises/country-stats.sqlite
/exercises/Graphs-Chapter-5-02082022.xlsx
/exercises/mowesta-dataset-20221107.zip
/exercises/temperatures.sqlite
/.idea/*
/project/__pycache__
/exercises/GTFS
/exercises/GTFS.zip
/exercises/gtfs.sqlite
/examples/gtfs-example.jv
/examples/gtfs.sqlite
/examples/sample-feed.zip
/examples/sample-feed